* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    width: 100%;
    font-family: 'MullerRegular';
    font-size: 40px;
    color: #333333;
    font-weight: normal;
    margin-bottom: 25px;
    margin-left: 40px;
}
body {
    background-color:#f1f1f1;
    width: 100%;
}
header {
    margin-top: 30px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header__elem {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header__logo {
    vertical-align: middle;
}
.header__logo img {
    vertical-align: middle;
}
.header__phone {
    font-family:'MullerBold', sans-serif;
    font-size: 22px;
    color: #666666;
    margin: 15px 33px;
    text-decoration: none;
}
.header__phone:hover {
    color: #cc9933;
}
.header__link {
    list-style-type: none;
    font-family: 'MullerRegular';
    text-decoration: none;
    color: #cc9933;
}
.header__link:hover{
    color: #cc9933;
}
.header__menu {
    height: 70px;
    margin-top: 30px;
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;   
}
.header__list  {
    display: flex;
    align-items: center;
    margin-left: 23px;
    
}
.header__list li {
    list-style: none;
    border-bottom: none;
}
.header__item:not(:last-child) {
    margin-right: 45px;

}
.header__list a {
    font-family: 'MullerRegular';
    font-weight: bold;
    font-size: 16px;
    color: #4e4e4e;
    text-decoration: none;
}
.header__input{
    position: relative;
    margin-right: 22px;
}
.header__search {
    font-family: 'MullerRegular';
    border: 0;
    background-color: #f1f1f1;
    width: 300px;
    height: 47px;
    font-size: 14px;
    border-radius: 11px;
    padding-left: 20px;
    outline: none;
}
.header__button {
    border: none;
    position: absolute;
    top: 9px;
    right: 12px;
    cursor: pointer;
    font-size: 32px;
}
.reserv__h1 {
    font-family: 'MullerRegular';
    font-size: 40px;
    color: #333333;
    font-weight: normal;
    margin-bottom: 25px;
    margin-left: 40px;
}
.reserv {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}
.reserv__block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.reserv__fast {
    display: flex;
    flex-direction: column;
}
.reserv__special {
    width: 50%;
}
.reserv__search {
    font-family: 'MullerRegular';
    font-size: 16px;
    padding-left: 20px;
    width: 516px;
    height: 70px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 10px;
    border: 0;   
}
.reserv__button {
    cursor: pointer;
    width: 158px;
    height: 65px;
    border-radius: 10px;
    border: 0;
    background-color: #cc9933;
    color: #ffffff;
    font-family: 'MullerBold';
    font-size: 16px;
}
.reserv__aboutus {
    margin-top: 70px;   
}
.reserv__p {
    font-family: 'MullerRegular';
    font-size: 16px;
    color: #6f6f6f;
    line-height: 30px;
    margin-left: 40px;    
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.services__h1{
    width: 100%;
    font-family: 'MullerRegular';
    font-size: 40px;
    color: #333333;
    font-weight: normal;
    margin-bottom: 25px;
    margin-left: 40px;
}
.services__exclus {
    height: 325px;
    width: 572px;;
    background-color: #ffffff;
    border-radius:20px;
    margin-bottom: 25px;
    line-height: 25px;
}
.services__img {
    line-height: 25px;
    margin-bottom: 35px;
}
.services a {
    font-family: 'MullerMedium';
    font-size: 22px;
    text-decoration: none;
    color: #cc9933;
    margin-top: 40px;
    margin-right: 5px;
}
.fa-chevron-right {
    color: #cc9933;
}
.services p {
    font-family: 'MullerRegular';
    font-size: 16px;
    font-weight: bold;
    color: #777777;
    width: 70%;
}
.services__exclus p, .services__exclus a {
    margin-left: 45px;  
    line-height: 30px; 
}
.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}

.benefits__elem {
    width: 280px;
    height: 275px;
    background-color: #ffffff;
    margin-bottom: 25px;
    border-radius: 20px;
    background-position-y: 50px;
    background-position-x: 50px;
}
.benefits__elem-bathhub {
    background-image: url('images/elem1.png');
    background-repeat: no-repeat;
}
.benefits__elem-hanger {
    background-image: url('images/elem2.png');
    background-repeat: no-repeat;
}
.benefits__elem-heating {
    background-image: url('images/elem3.png');
    background-repeat: no-repeat;
}
.benefits__elem-hotelkey {
    background-image: url('images/elem4.png');
    background-repeat: no-repeat;
}
.benefits__elem-parking {
    background-image: url('images/elem5.png');
    background-repeat: no-repeat;
}
.benefits__elem-reception {
    background-image: url('images/elem6.png');
    background-repeat: no-repeat;
}
.benefits__elem-securbox {
    background-image: url('images/elem7.png');
    background-repeat: no-repeat;
}
.benefits__elem-swimpool {
    background-image: url('images/elem8.png');
    background-repeat: no-repeat;
}
.benefits__span {
    font-family: 'MullerRegular';
    font-size: 16px;
    color: #4e4e4e;
    font-weight: bold;
    display: block;
    margin-top: 125px;
    margin-left: 45px;
    line-height: 30px;
    width: 185px;
}
.hotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}
.hotels__hotel {
    height: 440px;
    width: 373px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    margin-bottom: 25px;
    border-radius: 20px;
    line-height: 25px;
}
.hotels__price {
    display: flex;
    align-items: baseline;
    margin-left: 45px;
    margin-top: 35px;
}
.hotels__p-price {
    font-family: 'MullerRegular';
    font-size: 16px;
}
.hotels__span-price {
    font-family:'MullerBold';
    font-size: 22px;
}
.hotels__city {
    font-family: 'MullerRegular';
    font-size: 16px;
    margin-left: 45px;
}
.hotels__barselona {
    font-family: 'MullerRegular';
    color: #a9a9a9;
    display: block;
}
.hotels__stars {
    margin-left: 35px;
}
.hotels__button {
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #cc9933;
    background-color: #ffffff;
    color: #cc9933;
    font-family: 'MullerBold';
    font-size: 16px;
    margin-top: 20px;
}
.hotels__button:hover{
    background-color: #cc9933;
    color: #ffffff;
}
.hotels__hotel-all {
    background-image:url('images/hotel9.jpg');
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hotels__hotel-all a {
    font-family: 'MullerMedium';
    font-size: 22px;
    text-decoration: none;
    color: #f1f1f1;
    margin-bottom: 50px;
}
.fa-hotels__hotel {
    color: #f1f1f1;
    margin-left: 10px;
}
.contact {
    display: flex;
    margin-top: 65px;
}
.contact__con {
    display: grid;
    width: 470px;
    height: 615px;
    background-color: #ffffff;
    border-radius: 20px;
}
.contact__block {
    display: flex;
    margin-left: 45px;
    width: 385px;
    justify-content: space-between;
    align-items: center;
    
}
.contact__block:not(:last-child){
    border-bottom: 1px solid #cccccc;
}
.contact__p {
    font-family: 'MullerBold';
    font-size: 22px;
    color: #666666;

}
.contact__r {
    width: 60%;
    font-family: 'MullerRegular';
    font-size: 16px;
    line-height: 25px;
}
address {
    font-style: normal;
}
.contact__r a {
    text-decoration: none;
    color: #ce9f40;
}
.contact__email {
    color:#c6c6c6;
}
.contact__button {
    cursor: pointer;
    width: 215px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #cc9933;
    background-color: #ffffff;
    color: #cc9933;
    font-family: 'MullerBold';
    font-size: 16px;
}
.contact__button:hover {
    background-color: #cc9933;
    color: #ffffff;
}
.contact__us {
    margin: auto;
}
.contact__search {
    display: flex;
    flex-direction: column;
}
.contact__input {
    margin-bottom:25px;
}
.contact__input {
    width: 340px;
    height: 70px;
    font-family: 'MullerRegular';
    font-size: 16px;
    outline: none;
    border-radius: 10px;
    border: 0; 
    padding-left: 10px;  
}
.contact__message {
    height: 110px;
}
.contact__btn {
    cursor: pointer;
    width: 340px;
    height: 70px;
    border-radius: 10px;
    border: 0;
    background-color: #cc9933;
    color: #ffffff;
    font-family: 'MullerBold';
    font-size: 16px;
}
.footer__block {
    display: flex;
    background-image: url(images/footer.jpg);
    background-repeat: no-repeat;
    height: 340px;
    justify-content: space-between;
    padding: 44px 51px 55px 52px;    
    margin: 20px 0 50px 0;
    border-radius: 15px;
}
.footer__item {
    width: 365px;
}
.footer__p {
    font-family: 'MullerMedium';
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 50px;
}
.footer__a , .footer__mail {
    text-decoration: none;
    color: #cc9933;
    font-family: 'MullerRegular';
    font-size: 16px;
}
.footer__text {
    line-height: 25px;
}
.footer__social {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.footer__mail-block {
    margin-top: 50px;
}



